<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace可以理解成虚拟文件夹-->
<mapper namespace="org.lanqiao.dao.IUserDao">

    <!--开启二级缓存-->
    <cache/>

    <!--resultType：返回值类型-->
    <!--parameterType:传入参数的类型-->
    <!--查询所有用户-->
    <select id="getAllUser" resultType="org.lanqiao.bean.User">
        select * from user
    </select>

    <!--根据id查询单个用户-->
    <select id="getUserById" resultType="org.lanqiao.bean.User" parameterType="int">
        select * from user where id=#{id}
    </select>

    <!--name和pass是表里的字段名   #{name} #{pass}是对象里的字段名-->
    <!--插入一个用户-->
    <insert id="addUser" parameterType="org.lanqiao.bean.User" useGeneratedKeys="true" keyProperty="id">
        insert into user(name,pass) values(#{name},#{pass})
    </insert>

    <!--根据id删除用户-->
    <delete id="delUserById" parameterType="int">
        delete from user where id=#{id}
    </delete>

    <!--根据id更新用户-->
    <update id="updateUserById" parameterType="org.lanqiao.bean.User">
        update user set name=#{name},pass=#{pass} where id=#{id}
    </update>

    <!--根据条件查询用户-->
    <!--只要if语句成立，就加上if里边的sql-->
    <select id="getUserByCondition" parameterType="org.lanqiao.bean.User" resultType="org.lanqiao.bean.User">
       select * from user where 1=1
       <if test="name != null &amp;&amp;!&quot;&quot;.equals(name)">
        and name like  concat('%',#{name},'%')
       </if>
        <if test="id != null &amp;&amp; id>0 ">
         and id=#{id}
        </if>
        <if test="sex != null &amp;&amp; sex>=0">
         and sex=#{sex}
        </if>
    </select>

    <!--根据条件查询用户-->
    <!--只要成立一个条件，就执行sql，不在管其他条件-->
    <select id="findUserByConditions" parameterType="org.lanqiao.bean.User" resultType="org.lanqiao.bean.User">
        select * from user where 1=1
        <choose>
            <when test="name != null &amp;&amp;!&quot;&quot;.equals(name)">
                and name like  concat('%',#{name},'%')
            </when>
            <when test="sex != null &amp;&amp; sex>=0">
                and sex=#{sex}
            </when>
            <otherwise>

            </otherwise>
        </choose>
    </select>

    <!--根据id和条件更新用户-->
    <update id="updateUserByCond" parameterType="org.lanqiao.bean.User">
        update user
        <set>
            <if test="name != null &amp;&amp;!&quot;&quot;.equals(name)">
                name=#{name},
            </if>
            <if test="pass != null &amp;&amp;!&quot;&quot;.equals(pass)">
                pass=#{pass},
            </if>
            <if test="sex != null &amp;&amp; sex>=0">
               sex=#{sex}
            </if>
        </set>
        where id=#{id}
    </update>

    <select id="getUserIn" resultType="org.lanqiao.bean.User" >
        select * from user where id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>